<div *ngFor="let product of cartItems">
        <div class="col-md-3 productbox" style="float: left">
        	<a style= " color: inherit;text-decoration: none;" [routerLink]="['/productDetail/', product._id]"><div>
            <img src="assets/images/{{product.pid}}.jpg" class="img-responsive" width=100 height=100>
            <div class="producttitle">{{product.pname}}</div>
            <div class="productprice"><div class="pricetext">{{product.paddress}}</div></div></div></a>
            <div><a (click) = "deleteProductFromCart(product)">Delete</a></div>
</div>
  </div>

