<div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="assets/images/{{product.pid}}.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">{{product.pname}}</h3>
              <h6>Category : {{product.categoryname}}</h6>
              <p class="card-text">{{product.desc}}</p>
              <h5><a href="mailto:xyz@test.com" target = "_blank" class = "link">Contact Seller</a></h5>
            </div>
          </div>
</div>
